<h2 id="title">Welcome to Super Rentals</h2>
<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
  <li>{{#link-to 'contact'}}Contact Us!{{/link-to}}</li>
  <li>{{#link-to 'announcements'}}Announcements{{/link-to}}</li>
</ul>

{{outlet}}
